mode = "symlink"

{{ if (and (lookPath "bw") (not (and (has "--exclude" .chezmoi.args) (has "encrypted" .chezmoi.args)) )) }}
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = {{ (bitwardenFields "item" "chezmoi_agekey.pem").pub.value|quote }}
{{end}}

[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo", "-NoProfile"]
