{{ if lookPath "bw" }}{{- (bitwardenFields "item" "git_sshkey_rsa.pem").pem_head.value|trim -}}
{{- "\n" -}}
{{- (bitwardenFields "item" "git_sshkey_rsa.pem").pem_body.value|trim|replace " " "\n" -}}
{{- "\n" -}}
{{- (bitwardenFields "item" "git_sshkey_rsa.pem").pem_tail.value|trim -}}
{{- "\n" -}}{{ end }}
