[Unit]
Description=aria2c service 
After=network.target

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=/bin/aria2c --conf-path=.scripts/systemd/aria2/aria2c.conf
[Install]
; WantedBy=multi-user.target
WantedBy=default.target
