[Unit]
Description=run kde refresh server - timer

[Timer]
Unit=kde-refresh.service
OnCalendar=*:*:0/10
[Install]
; WantedBy=multi-user.target
WantedBy=default.target
