[Unit]
Description=My Script Before Suspend/Shutdown
Before=sleep.target shutdown.target

[Service]
Type=oneshot
ExecStart=%h/.scripts/syncworkspace.shh

[Install]
WantedBy=sleep.target shutdown.target

